app = 'rdap-bootstrap-server-http'
primary_region = 'lhr'
kill_signal = 'SIGINT'
kill_timeout = '5s'

[experimental]
cmd = ['/app/rdapd', '--port=8080', '--addr=0.0.0.0']

[build]
dockerfile = 'Dockerfile'

[deploy]
strategy = 'rolling'

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 1

[http_service.concurrency]
type = 'requests'
hard_limit = 250
soft_limit = 200

[[services.http_checks]]
interval = '30s'
timeout = '3s'
grace_period = '15s'
method = 'get'
path = '/heartbeat'
protocol = 'http'
