name: CI

on:
  push:
  workflow_dispatch:

env:
  COVERAGE_THRESHOLD: 35

jobs:
  test:
    runs-on: ubuntu-latest
    container: gbxyz/openswoole:php84-noble
    steps:
      - uses: actions/checkout@v4

      - name: install pcov
        run:  apt -qqq install php8.4-pcov nodejs

      - name: run composer install
        run: composer install --dev

      - name: lint
        run: |
          find . -not -path '*/vendor/*' \
          \( -name '*.php' -o -name rdapd \) \
          -exec php -l {} \;

      - name: phpstan
        run: ./vendor/bin/phpstan --no-progress --error-format=github --memory-limit=-1 analyze

      - name: start server
        uses: JarvusInnovations/background-action@v1
        with:
          run: |
            ./rdapd --addr=127.0.0.1 --port=8080 &
          wait-for: 30s
          wait-on: |
            http://127.0.0.1:8080/heartbeat
          tail: true
          log-output: stderr,stdout
          log-output-if: failure

      - name: pest
        run: ./vendor/bin/pest --no-progress --coverage --coverage-text

      - name: coverage check
        run: vendor/bin/coverage-check clover.xml $COVERAGE_THRESHOLD
